In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:

df = pd.DataFrame(np.arange(5 * 4).reshape(5, 4))
sampler = np.random.permutation(5)
sampler

array([2, 0, 3, 4, 1])

In [12]:
df
df.take(sampler)

    0   1   2   3
2   8   9  10  11
0   0   1   2   3
3  12  13  14  15
4  16  17  18  19
1   4   5   6   7

In [13]:
df.sample(n=3)

    0   1   2   3
2   8   9  10  11
1   4   5   6   7
4  16  17  18  19

In [14]:
choices = pd.Series([5, 7, -1, 6, 4])
draws = choices.sample(n=10, replace=True)
draws

0    5
4    4
4    4
1    7
1    7
2   -1
1    7
0    5
0    5
0    5
dtype: int64