In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)), index=pd.Index(['Ohio', 'Colorado'], name='state'), columns = pd.Index(['One', 'Two', 'Three'], name='number'))
data

number    One  Two  Three
state
Ohio        0    1      2
Colorado    3    4      5

In [5]:
result = data.stack()
result

state     number
Ohio      One       0
          Two       1
          Three     2
Colorado  One       3
          Two       4
          Three     5
dtype: int32

In [6]:
result.unstack()

number    One  Two  Three
state
Ohio        0    1      2
Colorado    3    4      5

In [7]:
result.unstack(0)
result.unstack('state')

state   Ohio  Colorado
number
One        0         3
Two        1         4
Three      2         5

In [9]:
s1 = pd.Series([0, 1, 2, 3], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([4, 5, 6], index=['c', 'd', 'e'])

data2 = pd.concat([s1, s2], keys=['one', 'two'])
data2
data2.unstack()

       a    b    c    d    e
one  0.0  1.0  2.0  3.0  NaN
two  NaN  NaN  4.0  5.0  6.0